body {
  margin: 0;
  background-color: #379237;
  height: 100%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
}

h1,
i {
  text-align: center;
  color: #f0ff42;
  text-transform: uppercase;
}

form,
.infoBar {
  width: 50%;
  height: 80%;
  background-color: #f0ff42;
  text-align: center;
  border-radius: 5em;
  margin: auto;
  padding: 0.5%;
  padding-left: 10%;
  padding-right: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form p {
  font-weight: 700;
}

form input {
  margin: 1%;
}

form input[type="radio"] {
  font: inherit;
  color: #3975ce;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

button {
  cursor: pointer;
  background-color: #3975ce;
  font-weight: 700;
  color: #fff;
  border-radius: 60em;
  margin-top: 5%;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a {
  text-decoration: none;
  color: #379237;
  font-weight: 600;
}

.infoBar1 {
  align-items: center;
  margin: 0.5%;
}

img,
iframe {
  width: 300px;
  height: 250px;
}

@media (max-width: 600px) {
  img,
  iframe {
    width: 50%;
    height: 20%;
  }
}
